__pycache__/ 
*.csv 
*.log 
dist/ 
build/ 
*.spec 
"server/traffic_analyzer.db" 
"JSON/" 
"aggregated_features/" 
"client/logs/" 
"client/profile.svg" 
JSON/ 
aggregated_features/ 
client/logs/ 
client/profile.svg 
